body{
    background-color: gray;
}

#inputForm{
    text-align: center;
    background-color: rgba(5, 2, 26, 0.795);
    color: lightcyan;
    font-family: sans-serif;
    padding-bottom: 10px;
    scroll-padding-top: 10px;
}

#siteHeader{
    background-image: url('https://miro.medium.com/max/3840/1*ONRawnQ6ZUF15TaIIMw7AQ.jpeg')
}

#resultsBanner{
    background-color: rgb(24, 25, 26);
    color: whitesmoke;
    padding-bottom: 10px;
    scroll-padding-top: 10px;
    text-align: center;
}

#resultsTitle{
    text-align: center;
}

#resultImage{
    background-image: url('https://miro.medium.com/max/3840/1*ONRawnQ6ZUF15TaIIMw7AQ.jpeg');
    height: 200px;
    width: 500px;
    color: tomato;

}