{% extends 'base.html' %}

{% block body %}

      <!-- Jumbotron | Explaining the app -->
      <div id="siteHeader" class="jumbotron">
        <h1 class="display-4">Titanic Predictions</h1>
        <p class="lead">Would you have survived from the most famous shipwreck in our history?.</p>
        <hr class="my-4">
        <p> Model derived from passenger's data that is able to predict if you would have survived or not to the titanic trafic accident.</p>
        <p> Just input the requested data below and check if you would be amoung the survivours or not!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about the machine learning process!</a>
      </div>

      <!-- Jumbotron | Predictions -->
      <div class="jumbotron">
        <h3 class="display-4">Get your titanic predictions here!</h3>
        <p class="lead">Enter in details of a made up person on the titanic voyage:</p>
        <hr class="my-4">
        <div id="inputForm">
            <form action="{% url 'results' %}">
                {% csrf_token %}
                    <p>Name:</p>
                    <input type="text" name="name">
                    <p>Passenger Age:</p>
                    <input type="text" name="age">                    
                    <p>Passenger Sex:</p>
                    <select name="sex">
                        <option value='0'>Female</option>
                        <option value='1'>Male</option>
                    </select>
                    <br>
                    <p>Passenger Ticket Class:</p>
                    <select name="pclass">
                        <option value='0'>First Class</option>
                        <option value='1'>Second Class</option>
                        <option value='2'>Third Class</option>
                    </select>
                    <br>
                    <p>Passenger Quantity of spouses / sibblings aboard the Titanic:</p>
                    <input type="text" name="sibsp">
                    <p>Passenger Quantity of parents / children aboard the Titanic:</p>
                    <input type="text" name="parch">
                    <p>Passenger Ticket Fare (U$D):</p>
                    <input type="text" name="fare">
                    <p>Passenger Port of Embarkation:</p>
                    <select name="embarked">
                        <option value='C'>Cherbourg</option>
                        <option value='Q'>Queenstown</option>
                        <option value='S'>Southampton</option>
                    </select>
                    <br>
                    <br>
                    <input type="submit">
            </form>
        </div>

        <br>
        <button type="button" onclick=clickedTest()>Test JavaScript</button>        
      </div> 

      {% endblock %}
