{% extends 'base.html' %}

{% block body %}

    
    <br><h3> Registered Passengers </h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Passenger ID</th>
                <th>Passenger Name</th>
                <th>Passenger Age</th>
                <th>Embarked?</th>
                <th>Delete?</th>
                <th>Dynamic Link</th>
            </tr>
         </thead>       

        <tbody>
            {% for passenger in all_items %}
            <tr>
                <td>{{passenger.id}}</td>
                <td>{{passenger.passenger_name}}</td>
                <td>{{passenger.passenger_age}}</td>
                <td>{{passenger.completed}}</td>
                <td><a href="{% url 'delete' passenger.id %}">Delete</a></td>
                <td><a href="{% url 'posts' passenger.id %}">Link to # {{passenger.id}}</a></td>        
            </tr>
            {% endfor %}
         </tbody>
    </table>


    <!-- Form -->

    <br><h3> Register a new passenger: </h3>
    
    <form action="{% url 'pM_home' %}" method="post">
        {% csrf_token %}
            <div class="form-group">
                <label for="passenger_name">Passenger Name</label><br>
                <input type="text" name="passenger_name" placeholder="Enter Passenger name ..."><br>               
            </div>

            <div class="form-group">
                <label for="passenger_age">Passenger Age</label><br>
                <input type="text" name="passenger_age" placeholder="Enter Passenger age"><br>             
            </div>

            <div class="form-group">
                <label for="concluded">Embarked?</label><br>
                <input type="text" name="concluded" placeholder="Enter if the passenger has embarked or not"><br>             
            </div>                      
            
            <input type="submit" value="Register Passenger">

            {% if messages %}
                {% for message in messages %}
                    <h3>{{message}}</h3>
                {% endfor %}
            {% endif %}
    </form>

    {% endblock %}